.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 575.98px) {

    .footer {
        position: relative;
        top: 6vh;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .footer {
        position: relative;
        top: 6vh;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .footer {
        position: relative;
        top: 6vh;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .footer {
        position: relative;
        top: 6vh;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .footer {
        position: relative;
        top: 10vh;
    }

}

/* Termina Media Querys */